src/model/*/*.o
src/model/*/*.exe
*.o
*.exe
include
bin
build
.fake
.ionide
src/model/test.cpp
src/model/test.exe
src/model/test2.exe
src/model/test2.cpp
src/model/build.sh
.vscode
src/model/compartments/f90/*.o
src/model/compartments/f90/*.mod
src/model/compartments/f90/*.exe
src/model/compartments/f90/main.f90
src/model/*.mod
src/model/vpm_dev
*.mod